@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>This is an E-Commerce book selling web application developed by Shusheng and Qian.<br />
    The book information is retrieved from Google Books API.<br />
    The main technology used is ASP.NET MVC.<br />
    Please refer to Contact page if you have any questions or suggestions.
</p>
